.merchantsContainer {
    text-align: center;
    margin: 25px;

    &__transaction {
        display: inline-flex;
        width: 100%;

        &_description {
            flex-grow: 1;
            text-align: left;
        }
    }

    &__inner {
        width: 750px;
        margin: auto;

        &_header {
            text-align: left;
            margin-top: 20px;
        }
    }
}